/* style.css */
.family-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  background-color: royalblue;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: fit-content;
  height: fit-content;
  margin: 10px;
}

.container:hover {
  background-color: steelblue;
}

.container.husband {
  background-color: darkcyan;
}

.container.wife {
  background-color: deeppink;
}

.container.spouse {
  margin-top: 10px;
}

.container.siblings {
  margin-top: 20px;
}

.container.sibling {
  margin-right: 20px;
}

.container.children {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.container.child {
  margin-right: 20px;
}

.container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

#popupContent {
  position: relative;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  color: floralwhite;
  background-color: darkviolet;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#popupImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

#popupDetails {
  margin-top: 10px;
}

#popupDetails p {
  margin: 0;
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-image: url("images/close.png");
  background-size: cover;
  width: 20px;
  height: 20px;
}

#closeButton::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("images/close.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .container img {
    width: 80px;
    height: 80px;
  }

  .name {
    font-size: 14px;
  }

  #popupContent {
    max-width: 300px;
  }

  #popupImage {
    border-radius: 6px;
  }
}
